.App {
  text-align: center;
  background-color: var(--body_background);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear ;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: var(--link_color);
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  background-color: var(--body_color);
  box-shadow: 0px 0px 10px var(--link_color);
}

/*                     */
/*      Dark Mode      */
/*                     */
/*                     */
/*      Dark Mode      */
/*                     */

.darkmode_wrapper {
  width: 300px;
  margin: 40px auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark_mode {
  h5 {
    margin: 0;
    color: var(--dark_title);
  }
}

.dark_mode_label {
  width: 65px;
  height: 31px;
  position: relative;
  top: -15px;
  display: block;
  background: grey;
  border: thin solid #fff;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;

  i {
      font-size: 22px;
      position: absolute;
      top: 4.5px;
      z-index: 100;
  }
  #sun {
      left: 3.75px;
      color: midnightblue;
      transition: all 0.15s ease;
  }
  #moon {
      left: 41px;
      color: midnightblue;
      transition: all 0.15s ease;
  }
}

.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.dark_mode_input:not(:checked) + .dark_mode_label #moon:hover {
  color: cyan;
}

.dark_mode_input:checked + .dark_mode_label #sun:hover {
  color: orange;
}