:root {
  --body_background: white;
  --body_color: black;
  --link_color: navy;
  --dark_title: midnightblue;
}

[data-theme = "dark"] {
  --body_background: #282c34;
  --body_color: midnightblue;
  --link_color: cyan;
  --dark_title: #c2c2c2;
}

*{
  transition: all 0.3s ease;
}
